#SPDX-License-Identifier: MIT-0
---
# tasks file for docker
- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Start Docker service
  service:
    name: docker
    state: started
    enabled: yes
